
<div class="publications">
<ol class="bibliography">
<li>
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 abbr"><abbr class="badge">arXiv</abbr></div>

        <!-- Entry bib key -->
        <div id="DBLP:journals/corr/abs-2606-24003" class="col-sm-8">
        
          <!-- Title -->
          <div class="title">DissProve: Automated Verification of Distributed Protocols with Affine
                  Communication</div>
          <!-- Author -->
          <div class="author">
                  <em>Fontenot, Christian</em>, Kaki, Gowtham, and Chang, Bor-Yuh Evan
          </div>

          <!-- Journal/Book title and date -->
          <div class="periodical">
            <em>CoRR</em> 2026
          </div>
        
          <!-- Links/Buttons -->
          <div class="links">
            <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>
          </div>

          <!-- Hidden bibtex block -->
          <div class="bibtex hidden">
            <figure class="highlight"><pre><code class="language-bibtex" data-lang="bibtex"><span class="nc">@article</span><span class="p">{</span><span class="nl">DBLP:journals/corr/abs-2606-24003</span><span class="p">,</span>
  <span class="na">abbr</span> <span class="p">=</span> <span class="s">{arXiv}</span><span class="p">,</span>
  <span class="na">author</span> <span class="p">=</span> <span class="s">{Fontenot, Christian and Kaki, Gowtham and Chang, Bor{-}Yuh Evan}</span><span class="p">,</span>
  <span class="na">title</span> <span class="p">=</span> <span class="s">{DissProve: Automated Verification of Distributed Protocols with Affine
                    Communication}</span><span class="p">,</span>
  <span class="na">journal</span> <span class="p">=</span> <span class="s">{CoRR}</span><span class="p">,</span>
  <span class="na">volume</span> <span class="p">=</span> <span class="s">{abs/2606.24003}</span><span class="p">,</span>
  <span class="na">year</span> <span class="p">=</span> <span class="s">{2026}</span><span class="p">,</span>
  <span class="na">bibtex_show</span> <span class="p">=</span> <span class="s">{true}</span><span class="p">,</span>
  <span class="na">url</span> <span class="p">=</span> <span class="s">{https://doi.org/10.48550/arXiv.2606.24003}</span><span class="p">,</span>
  <span class="na">doi</span> <span class="p">=</span> <span class="s">{10.48550/ARXIV.2606.24003}</span><span class="p">,</span>
  <span class="na">eprinttype</span> <span class="p">=</span> <span class="s">{arXiv}</span><span class="p">,</span>
  <span class="na">eprint</span> <span class="p">=</span> <span class="s">{2606.24003}</span><span class="p">,</span>
  <span class="na">timestamp</span> <span class="p">=</span> <span class="s">{Wed, 08 Jul 2026 21:21:27 +0200}</span><span class="p">,</span>
  <span class="na">biburl</span> <span class="p">=</span> <span class="s">{https://dblp.org/rec/journals/corr/abs-2606-24003.bib}</span><span class="p">,</span>
  <span class="na">bibsource</span> <span class="p">=</span> <span class="s">{dblp computer science bibliography, https://dblp.org}</span>
<span class="p">}</span></code></pre></figure>
          </div>
        </div>
      </div>
</li>
<li>
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 abbr"><abbr class="badge">TPSA</abbr></div>

        <!-- Entry bib key -->
        <div id="tpsatalk" class="col-sm-8">
        
          <!-- Title -->
          <div class="title">Cyclic Message Histories for Automated Verification of Distributed Systems</div>
          <!-- Author -->
          <div class="author">
                  <em>Fontenot, Christian</em>, Kaki, Gowtham, and Chang, Bor-Yuh Evan
          </div>

          <!-- Journal/Book title and date -->
          <div class="periodical">
            <em>CoRR</em> 2025
          </div>
        
          <!-- Links/Buttons -->
          <div class="links">
            <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>
          </div>

          <!-- Hidden bibtex block -->
          <div class="bibtex hidden">
            <figure class="highlight"><pre><code class="language-bibtex" data-lang="bibtex"><span class="nc">@misc</span><span class="p">{</span><span class="nl">tpsatalk</span><span class="p">,</span>
  <span class="na">abbr</span> <span class="p">=</span> <span class="s">{TPSA}</span><span class="p">,</span>
  <span class="na">bibtex_show</span> <span class="p">=</span> <span class="s">{true}</span><span class="p">,</span>
  <span class="na">author</span> <span class="p">=</span> <span class="s">{Fontenot, Christian and Kaki, Gowtham and Chang, Bor{-}Yuh Evan}</span><span class="p">,</span>
  <span class="na">title</span> <span class="p">=</span> <span class="s">{Cyclic Message Histories for Automated Verification of Distributed Systems}</span><span class="p">,</span>
  <span class="na">year</span> <span class="p">=</span> <span class="s">{2025}</span><span class="p">,</span>
  <span class="na">note</span> <span class="p">=</span> <span class="s">{https://www.youtube.com/watch?v=6C78eiLogTE}</span>
<span class="p">}</span></code></pre></figure>
          </div>
        </div>
      </div>
</li>
<li>
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 abbr"><abbr class="badge">ASPLOS</abbr></div>

        <!-- Entry bib key -->
        <div id="DBLP:conf/asplos/YuRFTLZWP24" class="col-sm-8">
        
          <!-- Title -->
          <div class="title">RainbowCake: Mitigating Cold-starts in Serverless with Layer-wise
                  Container Caching and Sharing</div>
          <!-- Author -->
          <div class="author">Yu, Hanfei, Roy, Rohan Basu, 
                  <em>Fontenot, Christian</em>, Tiwari, Devesh, Li, Jian, Zhang, Hong, Wang, Hao, and Park, Seung-Jong
          </div>

          <!-- Journal/Book title and date -->
          <div class="periodical">
            <em>In Proceedings of the 29th ACM International Conference on Architectural
                  Support for Programming Languages and Operating Systems, Volume 1,
                  ASPLOS 2024, La Jolla, CA, USA, 27 April 2024- 1 May 2024</em> 2024
          </div>
        
          <!-- Links/Buttons -->
          <div class="links">
          </div>

          
        </div>
      </div>
</li>
<li>
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 abbr"><abbr class="badge">HPDC</abbr></div>

        <!-- Entry bib key -->
        <div id="DBLP:conf/hpdc/YuFWLYP23" class="col-sm-8">
        
          <!-- Title -->
          <div class="title">Libra: Harvesting Idle Resources Safely and Timely in Serverless Clusters</div>
          <!-- Author -->
          <div class="author">Yu, Hanfei, 
                  <em>Fontenot, Christian</em>, Wang, Hao, Li, Jian, Yuan, Xu, and Park, Seung-Jong
          </div>

          <!-- Journal/Book title and date -->
          <div class="periodical">
            <em>In Proceedings of the 32nd International Symposium on High-Performance
                  Parallel and Distributed Computing, HPDC 2023, Orlando, FL, USA,
                  June 16-23, 2023</em> 2023
          </div>
        
          <!-- Links/Buttons -->
          <div class="links">
          </div>

          
        </div>
      </div>
</li>
</ol>
</div>