<div class="publications">
  <ol class="bibliography">
<li>
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 abbr"><abbr class="badge">arXiv</abbr></div>

        <!-- Entry bib key -->
        <div id="DBLP:journals/corr/abs-2606-24003" class="col-sm-8">
        
          <!-- Title -->
          <div class="title">
            
              <a href="https://doi.org/10.48550/arXiv.2606.24003" target="_blank" rel="noopener noreferrer">DissProve: Automated Verification of Distributed Protocols with Affine
                  Communication</a>
            
          </div>
          <!-- Author -->
          <div class="author">
                  <em>Fontenot, Christian</em>, Kaki, Gowtham, and Chang, Bor-Yuh Evan
          </div>

          <!-- Journal/Book title and date -->
          <div class="periodical">
            <em>CoRR</em> 2026
          </div>
        
          <!-- Links/Buttons -->
          <div class="links">
          </div>

          
        </div>
      </div>
</li>
<li>
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 abbr"><abbr class="badge">TPSA</abbr></div>

        <!-- Entry bib key -->
        <div id="tpsatalk" class="col-sm-8">
        
          <!-- Title -->
          <div class="title">
            
              <a href="https://www.youtube.com/watch?v=6C78eiLogTE" target="_blank" rel="noopener noreferrer">Cyclic Message Histories for Automated Verification of Distributed Systems</a>
            
          </div>
          <!-- Author -->
          <div class="author">
                  <em>Fontenot, Christian</em>, Kaki, Gowtham, and Chang, Bor-Yuh Evan
          </div>

          <!-- Journal/Book title and date -->
          <div class="periodical">
            <em>Talk at Theory and Practice in Static Analysis</em> 2025
          </div>No Proceedings
        
          <!-- Links/Buttons -->
          <div class="links">
          </div>

          
        </div>
      </div>
</li>
<li>
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 abbr"><abbr class="badge">ASPLOS</abbr></div>

        <!-- Entry bib key -->
        <div id="DBLP:conf/asplos/YuRFTLZWP24" class="col-sm-8">
        
          <!-- Title -->
          <div class="title">
            
              <a href="https://doi.org/10.1145/3617232.3624871" target="_blank" rel="noopener noreferrer">RainbowCake: Mitigating Cold-starts in Serverless with Layer-wise
                  Container Caching and Sharing</a>
            
          </div>
          <!-- Author -->
          <div class="author">Yu, Hanfei, Roy, Rohan Basu, 
                  <em>Fontenot, Christian</em>, Tiwari, Devesh, Li, Jian, Zhang, Hong, Wang, Hao, and Park, Seung-Jong
          </div>

          <!-- Journal/Book title and date -->
          <div class="periodical">
            <em>In Proceedings of the 29th ACM International Conference on Architectural
                  Support for Programming Languages and Operating Systems, Volume 1,
                  ASPLOS 2024, La Jolla, CA, USA, 27 April 2024- 1 May 2024</em> 2024
          </div>
        
          <!-- Links/Buttons -->
          <div class="links">
          </div>

          
        </div>
      </div>
</li>
<li>
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 abbr"><abbr class="badge">HPDC</abbr></div>

        <!-- Entry bib key -->
        <div id="DBLP:conf/hpdc/YuFWLYP23" class="col-sm-8">
        
          <!-- Title -->
          <div class="title">
            
              <a href="https://doi.org/10.1145/3588195.3592996" target="_blank" rel="noopener noreferrer">Libra: Harvesting Idle Resources Safely and Timely in Serverless Clusters</a>
            
          </div>
          <!-- Author -->
          <div class="author">Yu, Hanfei, 
                  <em>Fontenot, Christian</em>, Wang, Hao, Li, Jian, Yuan, Xu, and Park, Seung-Jong
          </div>

          <!-- Journal/Book title and date -->
          <div class="periodical">
            <em>In Proceedings of the 32nd International Symposium on High-Performance
                  Parallel and Distributed Computing, HPDC 2023, Orlando, FL, USA,
                  June 16-23, 2023</em> 2023
          </div>
        
          <!-- Links/Buttons -->
          <div class="links">
          </div>

          
        </div>
      </div>
</li>
</ol>
</div>